.card {
  height: 140px;
  width: 100px;  
  border: none;
  cursor: pointer;
  background-color: lavender;
  margin-top: 1%;
  position: relative;
  padding-top: 10px;
}




.front {
  position:absolute;
  left: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  cursor: default;
}

.transparent {
  opacity: 0;
}

.back {  
  border: 1px solid #121213;
  height: 140px;
  width: 100px;     
  position:absolute;
  left: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  background-color: rgb(137, 36, 231);
  
}