  
  
<app-menu></app-menu>
  <!-- First Container -->
  <div id ="quien"class="container-fluid bg-1 text-center">
    <img src="./assets/imagenes/quiensoy.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
    <h3 style="color: rebeccapurple;">Soy Ayelen Valdez</h3>
  </div>
  
  <!-- Second Container -->
  <div id ="que" class="container-fluid bg-2 text-center">
    <h3 class="margin">Juego propio: Ahorcado</h3>
    <p>Se le presenta al usuario un teclado compuesto por botones, al clickear uno, si la letra esta contenida en la palabra secreta, se adiciona la misma, si la letra no esta contenida entonces
      se dibuja una parte del ahorcado y asi sucesivamente. Cuando el dibujo del ahorcado esta completo el usuario perdió el juego y no puede volver a ingresar una letra.
    Si el usuario logró ganar entonces se le suman 10 puntos en la base de datos. </p>
   
  </div>
  
  <!-- Third Container (Grid) -->
  <div id ="donde" class="container-fluid bg-3 text-center">    
    <h3 class="margin">Dónde Funciona?</h3><br>
    <div class="row">
      <div class="col-sm-4">
        <p>Con las tecnologias WEB que permiten desarrollar aplicaciones multiplataforma</p>
        <img src="./assets/imagenes/quiensoy1.png" class="img-responsive margin imagenDeQuienSoy"  alt="Image">
      </div>
      <div class="col-sm-4"> 
        <p>Principalmente orientada a la experiencia del usuario, garantizando que su funcionamieto sea fluido y pensado en el comportamiento del usuario y en la funcionalidad.</p>
        <img src="./assets/imagenes/quiensoy2.jpg" class="img-responsive margin imagenDeQuienSoy" alt="Image">
      </div>
      <div class="col-sm-4"> 
        <p>Para los sistemas operativos lideres en el mercado del consumo masivo</p>
        <img src="./assets/imagenes/quiensoy3.png" class="img-responsive margin imagenDeQuienSoy" alt="Image">
      </div>
    </div>
  </div>
  
  <!-- Footer -->
  <footer class="container-fluid bg-4 text-center">
    <p>Modificado por <a href="https://www.ayelen.com.ar">www.ayelen.com.ar</a></p> 
  </footer>