

.settings-card {
    height: 270px;
    width: 360px;
    text-align: center;
    background-color: lavender;
    align-content: center;
    display: flex;
  
  }
  
  
  .mat-card img {
      width: 150px;
      height: 150px;
      align-content: center;
  }
   
  
  .mat-card-title{
     color: #8632d4;
      height: 27px;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      align-content: center;
    
      
  }
  
  mat-card-title:hover {
    color: purple;
    -webkit-text-stroke: 2px, purple
  }
  
  
  
  