html,
body {
  height: 100%;
 
}


.bg {
  /* The image used */
  background-image: url("/assets/imagenes/principal.jpg");
  
  /* Full height */
  height: 100%; 
  background-color: lightgreen;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.card{
  background-color: lavender;
}

.settings-card {
    height: 270px;
    width: 360px;
    background-color: lavender;
  
  
  }
  
  
  .mat-card img {
   
      object-fit: cover;

      height: 200px;
      width: 200px;
    
      display: block;
      margin-left: auto;
      margin-right: auto;

  }
   
  
  .mat-card-title{
     color: #8632d4;
      height: 27px;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      align-content: center;
    
      
  }
  
  mat-card-title:hover {
    color: rgb(231, 151, 231);
    -webkit-text-stroke: 2px, rgb(231, 161, 231)

  }
  
  mat-card:hover{
    cursor: pointer;
  }
  
  
  