<app-cabecera></app-cabecera>

<div class="card-columns">
  <div class="card">  
    <mat-card class="settings-card">
      <mat-card-header style="align-content: center;">
        <mat-card-title class="mat-card-title" routerLink="/Juegos">Juegos</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="./assets/imagenes/saladejuegos.png">
    
    </mat-card>
  
  
  </div>
   
  
  <div class="card">  
  
      <mat-card class="settings-card">
        <mat-card-header style="align-content: center;">
          <mat-card-title class="mat-card-title">Listados de resultados</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./assets/imagenes/listado.png">
        <mat-card-actions>
          <button mat-button routerLink="/Listado"></button>
        </mat-card-actions>
      </mat-card>
  
    </div>
  
  
    <div class="card">  
  
      <mat-card class="settings-card">
        <mat-card-header style="align-content: center;"> 
          <mat-card-title class="mat-card-title">Jugadores</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./assets/imagenes/jugadores.png">
        <mat-card-actions>
          <button mat-button routerLink="/Jugadores">
          <mat-icon>home</mat-icon>
          
          </button>
          </mat-card-actions>
      </mat-card>
    </div>



</div>


 





















 