

.settings-card {
  height: 270px;
  width: 360px;
  text-align: center;
  background-color: lavender;
  align-content: center;

}


/* Add rounded corners to the top left and the top right corner of the image */
.mat-card img {
    width: 100px;
    height: 100px;
    align-content: center;
}


.mat-card-title{
   color: #8632d4;
    height: 27px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    align-content: center;
}




