<mat-grid-list cols="3" rowHeight="10:6">


  <mat-grid-tile>
    <mat-card class="settings-card">
      <mat-card-header style="align-content: center;">
        <mat-card-title class="mat-card-title">Velocidad y agilidad aritmética</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="./assets/imagenes/cerebro.png" alt="Photo of a Shiba Inu">
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="Juego('Agilidad')">Jugar</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>


    <mat-card class="settings-card">
      <mat-card-header style="align-content: center;">
        <mat-card-title class="mat-card-title">Piedra Papel o Tijera</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="./assets/imagenes/ppt.png">
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="Juego('PPT')">Jugar</button>
      </mat-card-actions>
    </mat-card>

  </mat-grid-tile>
  <mat-grid-tile>

    <mat-card class="settings-card">
      <mat-card-header style="align-content: center;"> 
        <mat-card-title class="mat-card-title">Adivina el número secreto</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="./assets/imagenes/adivina.png">
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="Juego('Adivina')">Jugar</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>

    <mat-card class="settings-card">
      <mat-card-header style="align-content: center;">
        <mat-card-title class="mat-card-title">TaTeTi</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="./assets/imagenes/tateti.png">
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="Juego('Tateti')">Jugar</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>

    <mat-card class="settings-card">
      <mat-card-header style="align-content: center;">
        <mat-card-title class="mat-card-title">Memotest</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="./assets/imagenes/memotest.png">
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="Juego('Adivina')">Jugar</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>

    <mat-card class="settings-card">
      <mat-card-header>
        <mat-card-title class="mat-card-title">Juego propio</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="./assets/imagenes/adivina.png">
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="Juego('Adivina')">Jugar</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>


</mat-grid-list>