<body>
  
<div fxLayout="row wrap" fxLayoutGap="20px grid" fxLayoutAlign="space-around center">


  <div style="margin-top: 5%;" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="40%">
    <mat-card class="settings-card" (click)="Juego('Agilidad')">
      <mat-card-header style="align-content: center;">
        <mat-card-title class="mat-card-title">Velocidad y agilidad aritmética</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="./assets/imagenes/cerebro.png" alt="Photo of a Shiba Inu">
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="Juego('Agilidad')">Jugar</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div style="margin-top: 5%;" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="40%">


    <mat-card class="settings-card">
      <mat-card-header style="align-content: center;">
        <mat-card-title class="mat-card-title">Piedra Papel o Tijera</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="./assets/imagenes/ppt.png">
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="Juego('PPT')">Jugar</button>
      </mat-card-actions>
    </mat-card>

  </div>
  <div style="margin-top: 5%;" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="40%">

    <mat-card class="settings-card">
      <mat-card-header style="align-content: center;"> 
        <mat-card-title class="mat-card-title">Adivina el número secreto</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="./assets/imagenes/adivina.png">
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="Juego('Adivina')">Jugar</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div style="margin-top: 5%;" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="40%">

    <mat-card class="settings-card">
      <mat-card-header style="align-content: center;">
        <mat-card-title class="mat-card-title">TaTeTi</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="./assets/imagenes/tateti.png">
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="Juego('Tateti')">Jugar</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div style="margin-top: 5%;" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="40%">

    <mat-card class="settings-card">
      <mat-card-header style="align-content: center;">
        <mat-card-title class="mat-card-title">Memotest</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="./assets/imagenes/memotest.png">
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="Juego('Memotest')">Jugar</button>
      </mat-card-actions>
    </mat-card>
  </div>


  <div style="margin-top: 5%;" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="40%">

    <mat-card class="settings-card">
      <mat-card-header>
        <mat-card-title class="mat-card-title">Anagrama</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="./assets/imagenes/anagrama.png">
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="Juego('Anagrama')">Jugar</button>
      </mat-card-actions>
    </mat-card>
  </div>



  <div   style="margin-top: 5%;"  fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="40%">

    <mat-card class="settings-card">
      <mat-card-header>
        <mat-card-title class="mat-card-title">Ahorcado</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="./assets/imagenes/ahorcado.png">
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="Juego('Ahorcado')">Jugar</button>
      </mat-card-actions>
    </mat-card>
  </div>


</div>
</body>
