<body>
  
  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Registrarse</mat-card-title>
      </mat-card-header>
  
      <form class="example-form">
  
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input maxlength="30" type="email" matInput placeholder="Email" [(ngModel)]="usuario.email" name="email" required>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input maxlength="30" type="text" matInput placeholder="Nombre" [(ngModel)]="usuario.nombre" name="nombre" required>
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input maxlength="30" type="text" matInput placeholder="Apellido" [(ngModel)]="usuario.apellido" name="apellido" required >
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input type="number" matInput placeholder="Edad" [(ngModel)]="usuario.edad" name="edad" required>
          </mat-form-field>


          <mat-form-field class="example-full-width">
            <input maxlength="15" type="password" matInput placeholder="Clave" [(ngModel)]="usuario.clave" name="clave" required>
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input  maxlength="15"  type="password" matInput placeholder="Repita la clave" [(ngModel)]="usuario.claveRepetida" name="clave" required>
          </mat-form-field>
         
  
        </mat-card-content>
  
        <button mat-raised-button color="primary" class="btn-block" (click)="Registrarse()">Registrarse</button>
        <button mat-raised-button color="warn" class="btn-block" (click)="Cancelar()">Cancelar</button>
  
      </form>
    </mat-card>
  </div>
  

</body>


