<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px"  
>

  <div *ngIf="cards.length > 0">
    <div *ngFor="let card of boardH; let w = index" class="row">
      <div *ngFor="let card of boardW; let h = index" class="col">
        <app-carta [carta]="cards[w*boardW.length+h]" (clicked)="handleCardClick($event)"></app-carta>
      </div>
    </div>
  </div>
  <div>
    <button mat-raised-button color="primary" [disabled]= "isPlaying" (click)="initGame()">Empezar de nuevo</button>
  </div>
  <div  class="timer">
    {{time}}
  </div>
</div>