<div class="container" style="display: flex; position: relative; margin-left: 35%;">

  <div *ngIf="cards.length > 0">
    <div *ngFor="let card of boardH; let w = index" class="row">
      <div *ngFor="let card of boardW; let h = index" class="col">
        <app-carta [carta]="cards[w*boardW.length+h]" (clicked)="handleCardClick($event)"></app-carta>
      </div>
    </div>
    <div>
      <button mat-raised-button color="primary" style="align-content: center; position: relative; margin-left: 33%;" (click)="initGame()">Empezar de nuevo</button>
    </div>

  </div>
</div>