<body>
  

  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="boxAritmetica">
      <mat-card-header >
        <mat-card-title class="mat-card-title">Resuelve la operacion</mat-card-title>
      </mat-card-header>
    <mat-form-field appearance="outline" >
      <input  matInput disabled [(ngModel)]="n1">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput disabled [(ngModel)]="operator">
    </mat-form-field>
    <mat-form-field appearance="outline" >
      <input matInput disabled [(ngModel)]="n2">
    </mat-form-field>
    <mat-icon>drag_handle</mat-icon>
    <mat-form-field  appearance="outline">
      <input matInput type="number" step="any" placeholder="Ingrese el resultado" [(ngModel)]="nuevoJuego.numeroIngresado">
    </mat-form-field>

    <div> 
      <button mat-raised-button class="verificar"  *ngIf="!ocultarVerificar"  (click)="Verificar()">Verificar</button>
      <button mat-raised-button class="nuevoJuego"(click)="NuevoJuego()"*ngIf="mostrarNuevoJuego" >Nuevo juego</button>

    </div>
   <div>
    <h3 [hidden]="!nuevoJuego.gano">Usted adivino el número</h3>
    <h3 [hidden]="nuevoJuego.gano">Usted aún no gano </h3>
    <p  *ngIf="estaJugando">{{Tiempo}} Segundos restantes</p>
   </div>

    </mat-card>
    

  </div>
  

</body>  
  
  
 
