

<mat-toolbar color="primary">

  <button mat-icon-button (click)="toggleSideBar() ">
    <mat-icon>menu</mat-icon>
  </button>

  <span>Sala de Juegos</span>
  <span class="example-spacer" ></span>
    <a href="https://github.com/ayeV">en Github</a>
    <i class="fa fa-github" aria-hidden="true"></i>


    <a  routerLink="/QuienSoy" >Quien Soy? <i class="fa fa-user"></i></a>


</mat-toolbar>
<mat-drawer-container>

  <mat-sidenav #sidenav class="side-nav-left" position="start" role="directory" [opened]="opened">

    <div class="backdrop" (click)="opened = false"></div>
    <div class="side-nav-content">

      <mat-action-list>
        <button mat-list-item>
          <mat-icon>account_box</mat-icon>
          <span [routerLink]="['/Login']"  >Ingresar</span>
        </button>
        <button mat-list-item>
          <mat-icon>person_add</mat-icon><span  [routerLink]="['/Registro']" >Registrarse </span>
        </button>
        <button mat-list-item>
          <mat-icon>person</mat-icon><span>Mis datos</span>
        </button>
        <button mat-list-item>
          <mat-icon>settings</mat-icon><span>Configuracion</span>
        </button>
        <button mat-list-item>
          <mat-icon>input</mat-icon><span  [routerLink]="['/Login']">Salir</span>
        </button>
      </mat-action-list>
    </div>
  </mat-sidenav>
</mat-drawer-container>